<table class="style">
    <tr>
      <th>Course name</th>
      <th>Course code</th>
      <th>Delete</th>

    </tr>
    <tr *ngFor="let item of data; let i = index">
      <td>{{item.name}}</td>
      <td>{{item.code}}</td>
      <td> <button type=button  onclick=productDelete(this);   class='btn btn-default'> </button><td>
      <td> <button (click) = "deleteRow(item._id)" ></button></td>
    </tr>
  </table>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <span class="navbar-toggler-icon"></span>
  
	<a class="navbar-brand" href="#">Navbar</a>

	

</nav>